body {
  margin: 0px;
  width: 2000px;
  height: 2000px;
  background-color: #FFFFFF;
}
nav a {
  padding: 4px 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #663399;
  color: #ffffff;
  border-radius: 5px;
  margin: 5px;
}
nav a:hover {
  color: #e6e6e6;
  background-color: #421C52;
}