<html>

<table>
<tr>
   <td><label>Usuário </label></td>
   <td><input [(ngModel)]="hora.user" name="namebox"></td>
</tr>
<tr>
   <td><label>Local </label></td>
   <td><input [(ngModel)]="hora.local" name="cpfbox"></td>
</tr>
<tr>
   <td><label>Hora inicial </label></td>
   <td><input [(ngModel)]="hora.hi"></td>
   <td><label>Minuto inicial </label></td>
   <td><input [(ngModel)]="hora.mi"></td>


</tr>
<tr>
  <td><label>Hora final </label></td>
  <td><input [(ngModel)]="hora.hf"></td>
  <td><label>Minuto Final </label></td>
  <td><input [(ngModel)]="hora.mf"></td>
</tr>
<tr>
  <td><button>Melhor Hora</button></td>
</tr>
</table>

</html>